body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.background-first {
  background-color: #1f2937;
  padding-top: 15px;
}

.header {
  color: white;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  line-height: 25px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  display: flex;
  gap: 15px;
}

.header-link {
  text-decoration: none;
  color: white;
}

.second-section {
  height: 300px;
}

img.second-image {
  height: 300px;
  width: 525px;
  border-radius: 10px;
}

.second-section {
  margin-left: 200px;
  margin-right: 200px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.title {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  flex-grow: 1;
}

.second-image {
}

.second-section-one {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.second-section-one button {
  width: 250px;
  background-color: #3882f6;
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
  border-color: #3882f6;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
}

a {
  padding: 15px 10px;
  border: solid #3882f6;
  border-radius: 15px;
}

a:hover {
  background-color: #3882f6;
  color: #1f2937;
}

.third-section img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: solid #3882f6;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.info {
  display: flex;
  gap: 70px;
}

.hogwarts,
.neverland,
.middle-earth,
.narnia {
  text-align: center;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-title {
  margin-top: 40px;
  padding-bottom: 10px;
  font-size: 48px;
  font-weight: bold;
}

.background-forth {
  margin-top: 40px;
  background-color: #e5e7eb;
}

.forth-section {
  margin-left: 230px;
  margin-right: 230px;
}

.quote {
  padding-top: 100px;
  font-size: 36px;
  font-style: italic;
  line-height: 50px;
}

.person {
  font-weight: bold;
  text-align: right;
  font-size: 26px;
  padding-bottom: 100px;
}

.fifth-section {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 120px;
  margin-bottom: 120px;
  border-radius: 10px;
  background-color: #3882f6;
  color: white;
  padding: 70px 100px;
  display: flex;
  justify-content: space-around;
}

.fifth-title {
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 15px;
}

.fifth-section button {
  background-color: #3882f6;
  width: 180px;
  height: 70px;
  border-radius: 20px;
  border-color: rgb(255, 255, 255);
  align-self: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.fifth-description {
  width: 800px;
  font-size: 20px;
  line-height: 30px;
}

.footer {
  background-color: #1f2937;
  color: white;
  text-align: center;
  padding: 40px 120px;
}
